#exemplo {
    background-color: green;
    color: #fff;
    width: 500px;
    height: 130px;
     /*      TOP   R   BOT- LEFT */
    padding: 20px 0px 20px 50px; /* ESPAÇAMENTO INTERNO */ 
    box-sizing: border-box;
}

#exemplo2 {
    background-color: red;
    color: white;
    text-shadow: 3px 5px black;
    width: 500px;
    height: 50px;
     /*      TOP   R   BOT- LEFT */
    margin: 20px 0px 10px 0px; /* ESPAÇAMENTO EXTERNO */  
    padding: 30px 50px 40px 50px; /* ESPAÇAMENTO INTERNO */

}

